html{
    font-size: 62.5%;
}

*, 
*:before, 
*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: #1a2b5f;
    line-height: 2rem;
    font-weight: 400;
}

.btn{
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: #1a2b5f;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* 1440 1170 */
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1210px;

    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* ---------------------------------------------------------------- */
/* -------------------------------HEADER----------------------------- */
/* ---------------------------------------------------------------- */

.header{
    padding-top: 4rem;

}

/* 
    @mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
        display: flex;
        align-items: $align;
        justify-content: $justify;
        flex-wrap: $wrap;
        flex-direction: $dir;
    }
*/

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #1a2b5f;
}

.logo__text {
    color: #ffc87a;
}

.header__menu-item{
    margin-left: 5rem;
}

.header__menu-item:last-child{
    margin-left: 7rem;
}

.header__menu-link{
    font-size: 1.6rem;
    color: #1a2b5f;
    transition: all 0.25s linear;
}

.header__menu-link:hover,
.header__menu-link:active{
    color: #ffc87a;
}

.header__login{
    display: inline-block;
    border: solid 1px;
    border-radius: 6rem;

    padding: 1.3rem 3rem;
}

/* ---------------------------------------------------------------- */
/* ----------------------BANNER------------------------------------------ */
/* ---------------------------------------------------------------- */

.banner{
    padding-top: 15rem;
    padding-bottom: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.banner__heading{
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 5rem;
}

.banner__desc{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 6rem;
}

.banner__buttons{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.banner__buttons .btn{
    margin: 0 1rem;
}

.btn--border{
    border: 1px solid currentColor;
}

.btn--rounded{
    border-radius: 5rem;
}

.btn--primary{
    background-color:#ffc87a;
}

.btn--shadow{
    box-shadow: 0 10px 35px -5px #ffc87a;
}

/* ---------------------------------------------------------------- */
/* ----------------------------CATEGORY------------------------------ */
/* ---------------------------------------------------------------- */

.category__list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category__item{
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: white;
    border-radius: 20px;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.category__item:first-child{
    box-shadow: 0 20px 35px -5px rgba(255, 151 , 195, 0.25);
}

.category__item:nth-child(2){
    box-shadow: 0 20px 35px -5px rgba(255, 112 , 109, 0.25);
}

.category__item:nth-last-child(2){
    box-shadow: 0 20px 35px -5px rgba(133, 151 , 255, 0.25);
}

.category__item:last-child{
    box-shadow: 0 20px 35px -5px rgba(255, 200 , 122, 0.25);
}

.category__images{
    border-radius: inherit;
    height: 23rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 4rem;
}

.category__name{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* fix text is too long */
}

.category__details{
    font-size: 1.4rem;
    font-weight: 500;
    color: #c6acd7;
    margin-top: auto;
}

.category__details i{
    margin-left: 1.5rem;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */